{% extends "ArquitecturaBaseBundle:Administracion:base_admin.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/datatable/jquery.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}


{% block titulo %}Listar Menus{% endblock %}



{% block cuerpo %}
    <div class="row" style="min-height: 250px;">
        <table class="table" id="tabla_menus">
            <thead>
            <tr>
                <th>Id</th>
                <th>Etiqueta</th>
                <th>Ruta</th>
                <th>Activo</th>
                <th>Padre</th>
                <th>Submenus</th>
                <th>Concesiones</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/datatable/jquery.dataTables.min.js') }}"></script>

    <script type="application/javascript">
        $(document).ready(function () {
            $('#tabla_menus').DataTable({
                ajax: {
                    url: '{{ path('cargar_menus_ajax') }}',
                    dataSrc: 'data'
                },

                columns: [
                    {"data": 'id'},
                    {"data": 'etiqueta'},
                    {"data": 'ruta'},
                    {"data": 'activo'},
                    {"data": 'padre'},
                    {"data": 'submenus'},
                    {"data": 'concesiones'}
                ],
                oLanguage: {
                    sLengthMenu: "Mostrar _MENU_ ",
                    sSearch: "Buscar:",
                    oPaginate: {
                        sPrevious: '<span class="glyphicon glyphicon-chevron-left"/>',
                        sNext: '<span class="glyphicon glyphicon-chevron-right"/>'
                    },
                    sInfoEmpty: "Mostrando 0 a 0 de 0 elementos",
                    sInfo: "Mostrando _START_ a _END_ de _TOTAL_ elementos",
                    sInfoFiltered: "(filtrado de _MAX_ elementos)",
                    sEmptyTable: "No hay datos disponibles",
                    sZeroRecords: "No hay datos disponibles",
                    "sProcessing": "Procesando información"
                },
                aaSorting: [[1, 'asc']],
                aLengthMenu: [
                    [5, 10, 15, 20, 100],
                    [5, 10, 15, 20, 100] // change per page values here
                ],
                iDisplayLength: 10
            });
        });
    </script>

{% endblock %}