{% extends "ArquitecturaBaseBundle:Administracion:base_admin.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/datatable/jquery.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block titulo %}Listar Menus{% endblock %}

{% block cuerpo %}

    <table class="table" id="tabla_menus">
        <thead>
        <tr>
            <th>Id</th>
            <th>Etiqueta</th>
            <th>Ruta</th>
            <th>Activo</th>
            <th>Padre</th>
            <th>Submenus</th>
            <th>Concesiones</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Etiqueta</th>
            <th>Ruta</th>
            <th>Activo</th>
            <th>Padre</th>
            <th>Submenus</th>
            <th>Concesiones</th>
        </tr>
        </tfoot>
    </table>

    <div class="align-right">
        <a class="btn btn-sm btn-primary" href="{{ path('usuario_agregar') }}">Agregar</a>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/datatable/jquery.dataTables.min.js') }}"></script>

    <script type="application/javascript">
        $(document).ready(function () {
            $('#tabla_menus').DataTable({
                ajax: {
                    url: '{{ path('cargar_menus_ajax') }}',
                    dataSrc: 'data'
                },
                columns: [
                    {"data": 'id'},
                    {"data": 'etiqueta'},
                    {"data": 'ruta'},
                    {"data": 'activo'},
                    {"data": 'padre'},
                    {"data": 'submenus'},
                    {"data": 'concesiones'}
                ],
                oLanguage: datatablesConfig.language,
                aaSorting: datatablesConfig.sorting,
                aLengthMenu: datatablesConfig.viewValues,
                iDisplayLength: datatablesConfig.displayLength
            });
        });
    </script>

{% endblock %}