{#comienza el footer#}
<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <h6>
                <span class="blue bolder">Curso de Symfony 2</span>
                Facultad 3 | Universidad de las Ciencias Informáticas. 2016 © Todos los Derechos Reservados.
            </h6>


        </div>
    </div>
</div>

