<div id="sidebar" class="sidebar responsive sidebar-fixed">

    {{ render(controller('ArquitecturaBaseBundle:Menu:generarMenu')) }}

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
           data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

</div>
