/* Estilo para desabilitar un componente */
.disablingDiv {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    /* Do not display it on entry */
    /*display: block;*/
    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    height: 100%;
    width: 100%;
    z-index: 999999;

    /* make it cover the whole screen */
    position: fixed;

    /* make it white but fully transparent */
    /*background-color: white;*/
    /*opacity: 0.8;*/
}



#dvLoading {
    background-image: url("../css/images/loading.gif");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 24px;
    background-color: #ffffff;
    height: 28px;
    width: 120px;
    position: fixed;
    z-index: -10;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    border: solid 2px #565656;
    text-align: right;
    font-size: 14px;
    color: #ff0000;
    font-weight: bold;
    padding: 1px;
}