{% extends "ArquitecturaBaseBundle:Administracion:base_admin.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/datatable/jquery.dataTables.min.css') }}" />
{% endblock %}

{% block titulo %}

{% endblock %}


{% block cuerpo %}

    <div class="row" style="min-height: 250px;">

        <table class="table" id="tabla_usuarios">
            <thead>
                <tr>
                    <td>Identificador</td>
                    <td>Nombre de usuario</td>
                    <td>Roles</td>
                    <td>Activo</td>
                    <td>Correo</td>
                    <td>Foto</td>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <td>Identificador</td>
                    <td>Nombre de usuario</td>
                    <td>Roles</td>
                    <td>Activo</td>
                    <td>Correo</td>
                    <td>Foto</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <hr/>

    <div class="row align-right">
        <a class="btn btn-primary" href="{{ path('usuario_agregar') }}">Agregar</a>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/datatable/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $('#tabla_usuarios').DataTable({
                ajax: {
                    url: "{{ path('load_ajax_usuario') }}",
                    type: "POST",
                    dataSrc: "data",
                    dataType: "json"
                },

                columns: [
                    { data : "id" },
                    { data : "nombre" },
                    { data : "roles" },
                    { data : "estado" },
                    { data : "correo" },
                    { data : "foto" }
                ],


                columnDefs: [ {
                    //Renderizacion del campo de la foto
                    targets: 5,
                    data: "foto",
                    render: function ( data, type, full, meta ) {
                        return '<img src="'+data+'" alt="Avatar" width="50" height="50" />';
                    }
                }, {
                    //Renderizacion del campo de activo
                    targets: 3,
                    data: "estado",
                    render: function ( data, type, full, meta ) {
                        if (data)
                            return '<span class="glyphicon glyphicon-ok"></span>';
                        else
                            return '<span class="glyphicon glyphicon-remove"></span>';
                    }
                } ],
                oLanguage: {
                    sLengthMenu: "Mostrar _MENU_ ",
                    sSearch: "Buscar:",
                    oPaginate: {
                        sPrevious: '<span class="glyphicon glyphicon-chevron-left"/>',
                        sNext: '<span class="glyphicon glyphicon-chevron-right"/>'
                    },
                    sInfoEmpty: "Mostrando 0 a 0 de 0 elementos",
                    sInfo: "Mostrando _START_ a _END_ de _TOTAL_ elementos",
                    sInfoFiltered: "(filtrado de _MAX_ elementos)",
                    sEmptyTable: "No hay datos disponibles",
                    sZeroRecords: "No hay datos disponibles",
                    "sProcessing": "Procesando información"
                },
                aaSorting: [[1, 'asc']],
                aLengthMenu: [
                    [5, 10, 15, 20, 100],
                    [5, 10, 15, 20, 100] // change per page values here
                ],
                iDisplayLength: 10
            } );
        });
    </script>
{% endblock %}