{% extends "ArquitecturaBaseBundle:Administracion:base_admin.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/datatable/jquery.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block mensajes %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}

{% block cuerpo %}
    <h3> Seleccione un rol para gestionar sus concesiones</h3>
    <hr/>
    <span class="space-3"></span>
    <table class="table" id="tabla_roles">
        <thead>
        <tr>
            <td>Nombre</td>
            <td>Etiqueta</td>
            <td>Descripción</td>
            <td>Rol Padre</td>
            <td>Concesiones</td>
            <td>Activo</td>
            <td>Opciones</td>
        </tr>
        </thead>

        <tfoot>
        <tr>
            <td>Nombre</td>
            <td>Etiqueta</td>
            <td>Descripción</td>
            <td>Rol Padre</td>
            <td>Concesiones</td>
            <td>Activo</td>
            <td>Opciones</td>
        </tr>
        </tfoot>
    </table>

    <hr/>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/datatable/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        var datatable = null;
        $(function () {
            datatable = $('#tabla_roles').DataTable({
                ajax: {
                    url: "{{ path('load_ajax_roles') }}",
                    type: "POST",
                    dataSrc: "roles",
                    dataType: "json"
                },
                columns: [
                    { data: "nombre"},
                    { data: "etiqueta"},
                    { data: "descripcion"},
                    { data: "rolpadre"},
                    { data: "concesiones"},
                    { data: "activo"},
                    { data: "idrol"}
                ],
                oLanguage: datatablesConfig.language,
                aaSorting: datatablesConfig.sorting,
                aLengthMenu: datatablesConfig.viewValues,
                iDisplayLength: datatablesConfig.displayLength,

                columnDefs: [{
                    //Renderizacion del campo de activo
                    targets: 5,
                    data: "activo",
                    render: function (data, type, full, meta) {
                        if (data)
                            return 'Sí';
                        else
                            return 'No';
                    }
                }, {
                    targets: 6,
                    data: "idrol",
                    render: function (data, type, full, meta) {
                        var template = '<div class="btn-group">' +
                            '<button class="btn btn-xs btn-danger" onclick="funcionX('+data+');">' +
                            '<i class="ace-icon fa fa-trash-o bigger-120"></i>' +
                            '</button>' +
                            '<button class="btn btn-xs btn-warning" onclick="funcionY('+data+');">' +
                            '<i class="ace-icon fa fa-pencil bigger-120"></i>' +
                            '</button>' +
                            '</div>';
                        return template;
                    }
                }]

            });

            //Configuracion para que los mensajes de alerta se auto-desvanezcan
            $(".alert-success").fadeTo(3000, 500).slideUp(1000, function(){
                $(".alert-success").slideUp(500);
            });

        });

        function reloadDataTables(){
            datatable.ajax.reload();
        }

        function funcionX(idrol){

        }
        function funcionY(idrol){

        }

    </script>
{% endblock %}